{{include file="common/header.html"}}
<div id="wrap" class="container-fluid">
  
  
<!-- 修改密码框 -->
<div id="password_box" class="login_card card z_depth-1 container login_form">

  <legend>修改密码<div class="pull-right"><a href="{{site_url url='index/index'}}" class="btn btn-flat btn-default">返回首页</a></div></legend>
  
  <div id="password_tip_phone" class="reg_tip">当前账号：<b>{{$username}}</b></div>
  
  <form id="resetpassword" class="form-horizontal" action="{{site_url url='password/reset_password'}}" method="post" novalidate="" autocomplete="off">
  <div id="password_step_1">

    <fieldset>

      <label class="form-group">
        <i class="material-icons"></i>
        <input type="password" class="form-control" id="pwd_now" name="pwd_now" placeholder="请输入当前密码" value="">
        <p class="help-block"></p>
      </label>
      <label class="form-group">
        输入新密码：
      </label>
      <label class="form-group">
        <i class="material-icons"></i>
        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="请输入新密码" value="">
        <p class="help-block"></p>
      </label>
      <label class="form-group">
        <i class="material-icons"></i>
        <input type="password" class="form-control" id="pwd_new" name="pwd_new" placeholder="请再次输入新密码" value="">
        <p class="help-block"></p>
      </label>

      <div class="form-group">
          <div>
              <button id="btn_password_submit" type="button" class="btn btn-lg btn-primary btn-raised btn-block ink">修改密码</button>
          </div>
      </div>

    </fieldset>

  </div>

  </form>

    

</div>
    

<!-- 修改密码框 end -->
  
</div>



<script>

//进入页面，用户名框直接获取焦点
$("#user_name").focus();


//获取验证码
$(".get_smscaptchas").click(function () {
  //$(this).html("验证码已发送");
});
//获取验证码 end






//第二步完成重置密码。（此步仅在服务器端判断手机号，前端就不再判断了）
//$("#resetpassword").submit( function() {
$("#btn_password_submit").click(function() {


  var pwd = $("#pwd").val();

  var pwd2= $("#pwd_new").val();
  if ( !pwd ) {
    $("#pwd").focus().parent().addClass("has-error").children(".help-block").html("密码不能为空");
    return false;
  } else if ( !$("#pwd").val().match(/[\w@.]{6,15}/) || pwd.length>15) {
    $("#pwd").focus().parent().addClass("has-error").children(".help-block").html("英文/数字/下划线，6-15个字符");
    return false;
  } else {
    $("#pwd").parent().removeClass("has-error").children(".help-block").html("");
  }
  if(!pwd2){
    $("#pwd_new").focus().parent().addClass("has-error").children(".help-block").html("密码不能为空");
    return false;
  } else if (pwd != pwd2) {
    $("#pwd_new").focus().parent().addClass("has-error").children(".help-block").html("两次密码不同");
    return false;
  } else {
    $("#pwd_new").parent().removeClass("has-error").children(".help-block").html("");
  }
  $("#resetpassword").submit();
  /*
  完成重置密码
  */
  

});
//第二步完成重置密码 end


</script>






{{include file="common/footer.html"}}