/**
https://github.com/google/material-design-icons
感谢Google
**/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/materialicons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: url(../fonts/materialicons/MaterialIcons-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/materialicons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/materialicons/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/materialicons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

/** Bootstrap 补丁 **/

.btn .material-icons {
  position: relative;
  top: -2px;
  /*left: -2px;*/
  line-height: 10px;
  /*padding-bottom: 12px;*/
  vertical-align: middle;
}
.btn-sm .material-icons,
.btn-xs .material-icons {
    font-size: 18px;
    /*top: 3px;*/
    /*padding-bottom: 8px;*/
}

.dropdown-menu .material-icons {
    position: relative;
    /*top: 6px;*/
    top: 0;
    left: -8px;
    line-height: normal;
    vertical-align: middle;
    /*padding-bottom: 12px;*/
}

.nav .material-icons {
    position: relative;
    /*top: 6px;
    top: -2px;*/
    top: -2px;
    left: -2px;
    /*line-height: 10px;
    padding-bottom: 12px;
    vertical-align: middle;
    background-color: #063;*/
    vertical-align: middle;
}

.breadcrumb .material-icons {
    position: relative;
    top: 6px;
    line-height: 10px;
    /*padding-bottom: 12px;*/
}

.alert .material-icons {
    position: relative;
    top: 6px;
    line-height: 10px;
    /*padding-bottom: 12px;*/
    margin-right: 2px;
}

.input-group-addon .material-icons {
    position: relative;
    top: 5px;
    line-height: 10px;
    /*padding-bottom: 10px;*/
}
.list-group-item .material-icons {
    position: relative;
    /*top: 0;*/
    /*left: -2px;*/
    line-height: 7px;
    width: 24px;
    /*padding-bottom: 13px;*/
    vertical-align: middle;
}

.modal-title .material-icons {
    position: relative;
    top: 5px;
    left: -2px;
    line-height: 7px;
    /*padding-bottom: 13px;*/
}
