<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-CN" />
<!--<meta content="all" name="robots" />
<meta content="all" name="googlebot" />-->
<meta http-equiv="x-ua-compatible" content="IE=edge, chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<meta name="author" content="Dline" />
<meta name="Copyright" content="不以学习为目的的分享就是耍流氓" />
<meta name="keywords" content="没有关键词" />
<meta name="description" content="不以学习为目的的分享就是耍流氓" />

<title>Demo</title>

<!-- <base href="/" /> 
<link rel="apple-touch-icon-precomposed" href="appIcon.png">
<link rel="icon" href="favicon.ico" />
<link rel="shortcut icon" href="favicon.ico" />-->






<link href="./res/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="./res/css/material-icons.css" rel="stylesheet">
<link href="./res/css/base.css" rel="stylesheet">
<link href="./res/css/style.css" rel="stylesheet">

<script src="./res/js/jquery.min.js?v=1.12.1"></script>
<script async="async" src="./res/bootstrap/js/bootstrap.min.js"></script>


<!--[if lt IE 9]>
<script src="./res/js/html5shiv.min.js"></script>
<script src="./res/js/respond.min.js"></script>
<![endif]-->
</head>

<body>
<br><br>
（这是个用来演示的临时页面。）<br><br>
你已经处于登录状态。<br><br>
实际情况是，需要根据用户的类型直接跳转到相应界面。<br><br>

<a href="./?c=supplier" class="btn btn-primary">供应商</a>
<a href="./?c=project" class="btn btn-success">项目方</a>
<a href="./?c=admin" class="btn btn-danger">管理员</a>
    
</body>
</html>