{{include file="common/header.html"}}
<div id="wrap" class="container-fluid">

  {{include file="admin/admin_sider.php"}}
  
  
<!-- 主体 -->
  <div id="main">
  
    <!-- 面包屑导航 -->
<!--    <div id="breadcrumb">
      <ol class="breadcrumb">
        <li class="active">首页</li>
      </ol>
    </div>-->
    <!-- 面包屑导航 end -->
  
    <!-- 公告 -->
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>公告</strong> <span>
       {{if $lastnewsid!=-1}}
      <a href="{{site_url url='admin/push/show_push'}}/{{$lastnewsid}}">{{$lastnews}}</a>
      {{else}}
      {{$lastnews}}
      {{/if}}
    </span>
    </div>
    <!-- 公告 end -->

    <!-- 仪表盘区 -->
    <div class="dashboard_area clearfix">
    <!-- 仪表盘演示1 -->
      <div class="dashboard_card_wrap col-xs-6 col-sm-3 clearfix">
        <div class="dashboard_card card z_depth-1" style="border-color:#62caec;">
          <div class="icon"><i class="material-icons" style="color:#62caec;">&#xe263;</i></div>
          <div class="title">申请付款</div>
          <div class="maincon"><span class="num">{{$data.e_count}}</span>条</div>
          <div class="extra"><a href="./?c=admin_paymentrequest">查看</a></div>
        </div>
      </div>
    <!-- 仪表盘演示1 end -->
    <!-- 仪表盘演示1 -->
      <div class="dashboard_card_wrap col-xs-6 col-sm-3 clearfix">
        <div class="dashboard_card card z_depth-1" style="border-color:#9f70f4;">
          <div class="icon"><i class="material-icons" style="color:#9f70f4;">&#xe558;</i></div>
          <div class="title">新增供应商</div>
          <div class="maincon"><span class="num">{{$data.s_count}}</span>家</div>
          <div class="extra"><a href="{{site_url url='admin/supplier'}}">查看</a></div>
        </div>
      </div>
    <!-- 仪表盘演示1 end -->
    <!-- 仪表盘演示1 -->
      <div class="dashboard_card_wrap col-xs-6 col-sm-3 clearfix">
        <div class="dashboard_card card z_depth-1" style="border-color:#ff5752;">
          <div class="icon"><i class="material-icons" style="color:#ff5752;">&#xe90e;</i></div>
          <div class="title">合约变更</div>
          <div class="maincon"><span class="num">{{$data.c_count}}</span>件</div>
          <div class="extra"><a href="{{site_url url='admin/deal'}}">查看</a></div>
        </div>
      </div>
    <!-- 仪表盘演示1 end -->
    <!-- 仪表盘演示1 -->
      <div class="dashboard_card_wrap col-xs-6 col-sm-3 clearfix">
        <div class="dashboard_card card z_depth-1" style="border-color:#f0ad4e;">
          <div class="icon"><i class="material-icons" style="color:#f0ad4e;">&#xe53f;</i></div>
          <div class="title">新增项目</div>
          <div class="maincon"><span class="num">{{$data.p_count}}</span>件</div>
          <div class="extra"><a href="{{site_url url='admin/project'}}">查看</a></div>
        </div>
      </div>
    <!-- 仪表盘演示1 end -->
    </div>
    <!-- 仪表盘区 end -->

<!---->
  <div class="index_left col-xs-12 col-sm-6">
    <div class="index_notice form_card card z_depth-1">
      <div class="form_card_title">
        <i class="material-icons">&#xe85a;</i> <span>供应商搜索</span>
        <a href="{{site_url url='admin/supplier'}}" class="btn btn-primary pull-right">更多...</a>
      </div>
      <div class="form_card_box">
    

      
		<ul>
          {{foreach from=$data.s_list item=row}}
          <li>
            <a href="{{site_url url='admin/supplier/show_sup'}}/{{$row.id}}" class="">
                {{$row.name}}
            </a>
          </li>
          {{/foreach}}
		</ul>
      
      </div>
    </div>
  </div>
<!---->

<!---->
  <div class="index_right col-xs-12 col-sm-6">
    <div class="index_support form_card card z_depth-1">
      <div class="form_card_title">
        <i class="material-icons">&#xe869;</i> <span>技术支持</span>
        <a href="./?c=supplier_notice" class="btn btn-primary pull-right">更多...</a>
      </div>
      <div class="form_card_box">
    

      
		<ul>
      <li>
        <b>技术QQ：</b>	<span>949037358</span>
      </li>
      <li>
        <b>电话联系：</b>	<span>0512-57908655</span>
      </li>
      <li>
        <b>邮箱：</b>	<span><a href="mail:qqq@qqq.com">949037358@qq.com</a></span>
      </li>
		</ul>
      
      </div>
    </div>
  </div>
<!---->
    
  </div>
<!-- 主体 end -->
  
</div>
{{include file="common/footer.html"}}