{{include file="common/header.html"}}
<div id="wrap" class="container-fluid">

  {{include file="admin/admin_sider.php"}}
  
  
<!-- 主体 -->
  <div id="main">
  
    <!-- 面包屑导航 -->
    <div id="breadcrumb">
      <ol class="breadcrumb">
        <li class="active">首页</li>
        <li class="active">项目</li>
      </ol>
    </div>
    <!-- 面包屑导航 end -->
  
    <!-- 公告 -->
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>公告</strong> <span>{{$lastnews}}</span>
    </div>
    <!-- 公告 end -->

    
<!---->
    <div class="form_card card z_depth-1">
      <h2 class="form_card_title">
        <i class="material-icons"></i> <span>项目</span>
      </h2>
      <div class="form_card_box">
      
		<form  id="page_form" class="form-horizontal" method="post" action="{{site_url url='admin/project/list_task'}}">
			<div class="form-group">				
				<div class="col-sm-6">
					<input type="text" class="form-control" name="title" id="title" value="{{$data['title']}}">
				</div>
				<button type="submit" class="btn btn-primary btn-raised" for="title">搜索</button>
			</div>
		</form>
      
      
		<table class="table_card table table-striped table-hover">
      <thead>
        <tr>

          <th class="">名称</th>
          <th class="">创建时间</th>
          <th class="">操作</th>
        </tr>
      </thead>
      <tbody>
      {{foreach from=$data['items'] item=foo}}
      <tr>

          <td class=""><a href="{{site_url url='admin/project/show_pro'}}/{{$foo['id']}}">{{$foo['name']}}</a></td>
          <td class="small">{{$foo['cdate']}}</td>
          <td class="bloc">
              <a href="{{site_url url='admin/project/reset_password'}}/{{$foo['userid']}}" class="btn btn-sm btn-danger" >密码重置</a>

              {{if $foo['status']==1}}  <a href="{{site_url url='admin/project/chenge_status'}}/{{$foo['userid']}}" class="btn btn-sm btn-info" >审核</a>{{/if}}
              {{if $foo['status']==2}} <a href="javascript:void(0)" class="btn btn-sm btn-info" >通过</a>{{/if}}


          </td>

      </tr>
      {{/foreach}}
      </tbody>
		</table>

    {{$pager}}
      
      </div>
    </div>
<!---->

  <!---->
    
  </div>
<!-- 主体 end -->
  
</div>
{{include file="common/footer.html"}}

<script>
    $('.pagination').find('a').click(function(){
        url = $(this).attr('href')
        $('#page_form').attr('action',url)
        $('#page_form').submit()
        return false;
    })

</script>