 {{include file="common/header.html"}}
<div id="wrap" class="container-fluid">

	{{include file="project/project_sider.php"}}
  
  
<!-- 主体 -->
  <div id="main">
  
    <!-- 面包屑导航 -->
    <div id="breadcrumb">
      <ol class="breadcrumb">
		  <li class="active">首页</li>
		  <li class="active">基本信息</li>
      </ol>
    </div>
    <!-- 面包屑导航 end -->

<!---->
    <div class="form_card card z_depth-1">
      <h2 class="form_card_title">
        <i class="material-icons"></i> <span>信息完善</span>
      </h2>
      <div class="form_card_box">
      
        <form id="save_form" class="form-horizontal" style="margin-bottom:40px;" method="post" action="{{site_url url='project/info/save_info'}}">
					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-1">
							<a href="#" class="btn btn-default disabled" role="button" style="color:#333">项目基本信息</a>
						</div>

					</div>				
					<div class="form-group">
						<label for="pro_name" class="col-sm-2 control-label">项目名称</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="pro_name" name="pro_name" value="{{if $data}}{{$data['name']}}{{/if}}" >
						</div>
					</div>
					<div class="form-group">
						<label for="pro_province" class="col-sm-2 control-label">项目地址</label>
						<div class="col-sm-3">
							<select class="form-control" id="pro_province" name="pro_province">
								<option value="" >-请选择省份-</option>
							</select>
						</div>
						<div class="col-sm-3">
							<select class="form-control" id="pro_city" name="pro_city">
								<option value="">-请选择城市-</option>
							</select>
						</div>
						<div class="col-sm-3">
							<select class="form-control" id="pro_area" name="pro_area">
								<option value="">-请选择区域-</option>
							</select>
						</div>
					</div>
			<div class="form-group">
				<label for="pro_address" class="col-sm-2 control-label"></label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="pro_address" name="pro_address" placeholder="路牌号" value="{{if $data}}{{$data['address']}}{{/if}}">
				</div>
			</div>
					<div class="form-group">
						<label for="pro_total" class="col-sm-2 control-label">项目金额</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="pro_total" name="pro_total" value="{{if $data}}{{$data['total']}}{{/if}}">
						</div>
						<label class="col-sm-1 control-label" style="font-weight:lighter;text-align:left;">万元</label>
					</div>
					<div class="form-group">
						<label for="pro_manager" class="col-sm-2 control-label">项目经理</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="pro_manager"   name="pro_manager" value="{{if $data}}{{$data['manager']}}{{/if}}">
						</div>
					</div>
					<div class="form-group">
						<label for="pro_leader" class="col-sm-2 control-label">项目负责人</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="pro_leader" name="pro_leader" value="{{if $data}}{{$data['leader']}}{{/if}}">
						</div>
					</div>
					<div class="form-group">
						<label for="pro_leader_phone" class="col-sm-2 control-label">负责人电话</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="pro_leader_phone"  name="pro_leader_phone"  value="{{if $data}}{{$data['leader_phone']}}{{/if}}" >
						</div>
					</div>
					<div class="form-group">
						<label for="pro_contacter" class="col-sm-2 control-label">联系人</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="pro_contacter"  name="pro_contacter"  value="{{if $data}}{{$data['contacter']}}{{/if}}">
						</div>
					</div>
					<div class="form-group">
						<label for="pro_contacter_phone" class="col-sm-2 control-label">联系电话</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="pro_contacter_phone" name="pro_contacter_phone"   value="{{if $data}}{{$data['contacter_phone']}}{{/if}}">
						</div>
					</div>


					<div class="form-group">
						<div class="col-sm-2 col-sm-offset-1">
							<a href="#" class="btn btn-default  disabled" role="button" style="color:#333">主要材料和数量</a>
						</div>
						<div class="col-sm-1">
							<button class="btn btn-primary btn-raised"  type="button" id="addum">增加</button>
						</div>
					</div>

			<div id="yy_block_um">
				<div class="form-group">
					<div class="col-sm-2"></div>
					<div class="col-sm-3">
						<select class="form-control" name="material[]" id="material">
							<option value="">-类别-</option>
						</select>
					</div>
					<div class="col-sm-3" ><input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" onblur = "this.value = this.value.replace(/\D+/g, '')" class="form-control border_rnone" name="num[]" placeholder="数字"></div>
					<div class="col-sm-3" >
						<select class="form-control border_lnone" id="unit" name="unit[]">
							<option value="">-单位-</option>
						</select>
					</div>
					<div class="col-sm-1">
						<button class="btn btn-primary btn-raised"  type="button" name="delete_div[]">删除</button>
					</div>
				</div>
			</div>
					<div class="form-group" style="margin-right:0;">
						<div class="col-sm-9 col-sm-offset-2">
							<button type="button" id="save_btn" class="btn btn-primary btn-lg btn-raised btn-block ink" >完成</button>
						</div>
					</div>
				</form>
      </div>
    </div>
  <!---->
    
  </div>
<!-- 主体 end -->
  
</div>
{{include file="common/footer.html"}}

<script>

	$(function(){

		$.getJSON("{{site_url url='ajax/getprovince'}}",function(data){
			html='<option value="" selected = "selected">-请选择省份-</option>';
             if (data!=1){
                 data.forEach(function (item) {
					 html+='<option value="'+item.code+'">'+item.name+'</option>'
				 })
			 }else{
				 alert('NG');
			 }

			$("#pro_province").html(html);
			{{if $data}}
			$("#pro_province").val('{{$data["province_code"]}}');
			$.getJSON("{{site_url url='ajax/getcity'}}/{{$data['province_code']}}",function(data){
				html='<option value="">-请选择城市-</option>';
				if (data!=1){
					data.forEach(function (item) {
						html+='<option value="'+item.code+'">'+item.name+'</option>'
					})
				}else{

				}
				$("#pro_city").html(html);
				$("#pro_city").val('{{$data["city_code"]}}');

			});
			$.getJSON("{{site_url url='ajax/getarea'}}/{{$data['city_code']}}",function(data){
				html='<option value="">-请选择区域-</option>';
				if (data!=1){
					data.forEach(function (item) {
						html+='<option value="'+item.code+'">'+item.name+'</option>'
					})
				}else{

				}
				$("#pro_area").html(html);
				$("#pro_area").val('{{$data["area_code"]}}');

			});

			{{/if}}


			//$("#pro_province").val('00');
		})

		$.getJSON("{{site_url url='ajax/getunit'}}",function(data){
			html='<option value="">-单位-</option>'
			if (data!=1){
				data.forEach(function (item) {
					html+='<option value="'+item.id+'">'+item.name+'</option>'
				})
			}else{

			}
			$("#unit").html(html);
			$.getJSON("{{site_url url='ajax/getmaterial'}}",function(data){
				html='<option value="">-类别-</option>'
				if (data!=1){
					data.forEach(function (item) {
						html+='<option value="'+item.id+'">'+item.name+'</option>'
					})
				}else{

				}
				$("#material").html(html);
                 //这里进行明细的载人
             	{{if $detail!=1}}
				{{foreach from=$detail key=part_id item=foo}}

				{{if $part_id!=0}}
				 divbox=$("#yy_block_um").children().html();
				 divbox="<div class='form-group'>"+divbox+"</div>";
				 $('#yy_block_um').prepend(divbox);
				{{/if}}
				 $("#yy_block_um").find("div").eq(0).find("[name='unit[]']").eq(0).val("{{$foo['unit']}}");
				 $("#yy_block_um").find("div").eq(0).find("[name='num[]']").eq(0).val("{{$foo['num']}}");
				 $("#yy_block_um").find("div").eq(0).find("[name='material[]']").eq(0).val("{{$foo['m_id']}}");

				 {{/foreach}}

					{{/if}}
				$("#yy_block_um").find("button").on('click',function () {
					if($('#yy_block_um').children('div').length <= 1){
						alert('需至少保留一条‘材料与数量’信息');
					}
					else{
						$(this).parent().parent().remove();
					}
				})
			})
		});

		$("#pro_province").change(function(){
			$.getJSON("{{site_url url='ajax/getcity'}}/"+$("#pro_province").val(),function(data){
				html='<option value="">-请选择城市-</option>';
				if (data!=1){
					data.forEach(function (item) {
						html+='<option value="'+item.code+'">'+item.name+'</option>'
					})
				}else{

				}
				$("#pro_city").html(html);
			});
		});

		$("#pro_city").change(function(){
			$.getJSON("{{site_url url='ajax/getarea'}}/"+$("#pro_city").val(),function(data){
				html='<option value="">-请选择区域-</option>';
				if (data!=1){
					data.forEach(function (item) {
						html+='<option value="'+item.code+'">'+item.name+'</option>'
					})
				}else{

				}
				$("#pro_area").html(html);
			});
		});

		$("#addum").click(function(){
			//解绑事件
			$("#yy_block_um").find("button").off('click');
			divbox=$("#yy_block_um").children().html();
			divbox="<div class='form-group'>"+divbox+"</div>"
			$('#yy_block_um').append(divbox);
			//绑定事件
			$("#yy_block_um").find("button").on('click',function () {
				if($('#yy_block_um').children('div').length <= 1){
					alert('需至少保留一条‘材料与数量’信息');
				}
				else{
					$(this).parent().parent().remove();
				}
			})
		});



        $("#save_btn").click(function () {
			if ($.trim($("#pro_name").val())==""){
				$("#pro_name").focus().parent().addClass("has-error").children(".help-block").html("项目名称不能为空");
				return false;
			}else {
				$("#pro_name").parent().removeClass("has-error").children(".help-block").html("");
			}
			if ($("#pro_province").val()==""){
				$("#pro_province").focus().parent().addClass("has-error").children(".help-block").html("省份必选");
				return false;
			}else {
				$("#pro_province").parent().removeClass("has-error").children(".help-block").html("");
			}
			if ($("#pro_city").val()=="00" || $("#pro_city").val()==""){
				$("#pro_city").val('');
				$("#pro_city").focus().parent().addClass("has-error").children(".help-block").html("城市必选");
				return false;
			}else {
				$("#pro_city").parent().removeClass("has-error").children(".help-block").html("");
			}
			if ($("#pro_area").val()=="00" || $("#pro_area").val()==""){
				$("#pro_area").val('');
				$("#pro_area").focus().parent().addClass("has-error").children(".help-block").html("区域必选");
				return false;
			}else {
				$("#pro_city").parent().removeClass("has-error").children(".help-block").html("");
			}
			if ($.trim($("#pro_address").val())==""){
				$("#pro_address").focus().parent().addClass("has-error").children(".help-block").html("地址不能为空");
				return false;
			}else {
				$("#pro_address").parent().removeClass("has-error").children(".help-block").html("");
			}
			if ($.trim($("#pro_total").val())==""){
				$("#pro_total").focus().parent().addClass("has-error").children(".help-block").html("金额不能为空");
				return false;
			}else {
				$("#pro_total").parent().removeClass("has-error").children(".help-block").html("");
			}
			if ($.trim($("#pro_manager").val())==""){
				$("#pro_manager").focus().parent().addClass("has-error").children(".help-block").html("项目经理不能为空");
				return false;
			}else {
				$("#pro_manager").parent().removeClass("has-error").children(".help-block").html("");
			}
			if ($.trim($("#pro_leader").val())==""){
				$("#pro_leader").focus().parent().addClass("has-error").children(".help-block").html("项目负责人不能为空");
				return false;
			}else {
				$("#pro_leader").parent().removeClass("has-error").children(".help-block").html("");
			}
			if ($.trim($("#pro_leader_phone").val())==""){
				$("#pro_leader_phone").focus().parent().addClass("has-error").children(".help-block").html("负责人电话不能为空");
				return false;
			}else {
				$("#pro_leader_phone").parent().removeClass("has-error").children(".help-block").html("");
			}
			if ($.trim($("#pro_contacter").val())==""){
				$("#pro_contacter").focus().parent().addClass("has-error").children(".help-block").html("联系人不能为空");
				return false;
			}else {
				$("#pro_contacter").parent().removeClass("has-error").children(".help-block").html("");
			}
			if ($.trim($("#pro_contacter_phone").val())==""){
				$("#pro_contacter_phone").focus().parent().addClass("has-error").children(".help-block").html("联系电话不能为空");
				return false;
			}else {
				$("#pro_contacter_phone").parent().removeClass("has-error").children(".help-block").html("");
			}
			var flag=0;
			$("[name='material[]']").each(function(){
				if ($(this).val()==''){
					//$(this).focus().parent().addClass("has-error").children(".help-block").html("单位必须选择");
					alert('类别必须选择');
					flag=1;
					return false;
				}
			});
			$("[name='num[]']").each(function(){
				if ($(this).val()==""){
					//$(this).focus().parent().addClass("has-error").children(".help-block").html("数字必须填写");
					alert('必须填写数字');
					flag=1;
					return false;
				}
			});
			$("[name='unit[]']").each(function(){
				if ($(this).val()==''){
					//$(this).focus().parent().addClass("has-error").children(".help-block").html("类别必须选择");
					alert('必须选择单位');
					flag=1;
					return false;
				}
			});
			if (flag !=1){
				$('#save_form').submit();
			}

		})
	})
</script>