{{include file="common/header.html"}}
<div id="wrap" class="container-fluid">

	{{include file="project/project_sider.php"}}
  
  
<!-- 主体 -->
  <div id="main">
  
    <!-- 面包屑导航 -->
    <div id="breadcrumb">
      <ol class="breadcrumb">
		  <li class="active">首页</li>
		  <li class="active">需求信息管理</li>
      </ol>
    </div>
    <!-- 面包屑导航 end -->
  
<!-- 返回栏 -->
    <div class="pagetool form_card card z_depth-1">
        <a href="javascript:history.go(-1)" class="goback btn btn-primary btn-raised ink">返回</a><span class="title">信息列表</span>
    </div>
<!-- 返回栏 end -->
<!---->
    <div class="form_card card z_depth-1">
      <h2 class="form_card_title">
        <i class="material-icons"></i> <span>信息详情页面</span>
      </h2>
      <div class="form_card_box">
				<div class="col-md-6 col-sm-12">
					<form class="form-horizontal" >
					<div class="form-group">
						<div class="col-sm-12 ">
							<H4><strong> {{$pro_name}}需要{{$data['m_name']}}{{$data['num']}}{{$data['u_name']}}</strong></H4>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">发布时间</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{$data['cdate']}}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">有效期限</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{$data['s_date']}} 至  {{$data['e_date']}}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">所属项目</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{$pro_name}}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">联系人</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{$data['person']}}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">联系电话</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{$data['phone']}}</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">联系地址</label>
						<div class="col-sm-10">
							<p class="form-control-static">{{$p_name}}{{$c_name}}{{$a_name}}{{$address}}</p>
						</div>
					</div>
					<div class="form-group" >
						<label class="col-sm-2 control-label">需求详情</label>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
								<p>
									{{$data['desc']}}</p>
						</div>
					</div>
						<div class="form-group">
							<label for="imgShow" class="col-sm-2 control-label">图片上传</label>

							<div class="col-sm-4  control-label">
								<img style="width: 250px" id="imgShow" {{if {{$data['pic']}} != ''}}  src="/uploadimages/{{$data['pic']}}"{{/if}}>
							</div>
						</div>
				</form>
			</div>
      
    
      </div>
    </div>
  <!---->
    
  </div>
<!-- 主体 end -->
  
</div>
{{include file="common/footer.html"}}