{{include file="common/header.html"}}
<div id="wrap" class="container-fluid">

  {{include file="project/project_sider.php"}}
  
  
<!-- 主体 -->
  <div id="main">
  
    <!-- 面包屑导航 -->
    <div id="breadcrumb">
      <ol class="breadcrumb">
          <li class="active">首页</li>
          <li class="active">合约管理</li>
      </ol>
    </div>
    <!-- 面包屑导航 end -->
  
  <!-- 返回栏 -->
    <div class="pagetool form_card card z_depth-1">
        <a href="javascript:history.go(-1)" class="goback btn btn-primary btn-raised ink">返回</a><span class="title">合约管理</span>
    </div>
<!-- 返回栏 end -->
<!---->
    <div class="form_card card z_depth-1">
      <h2 class="form_card_title">
        <i class="material-icons"></i> <span>合约执行</span>
      </h2>
      <div class="form_card_box">      

				<div class="col-md-6 col-sm-12">
					<form id="save_form" class="form-horizontal" method="post" action="{{site_url url='project/deal/save_execute'}}">

						<div class="form-group">
							<label class="col-sm-2 control-label">执行合约</label>
							<div class="col-sm-9">
								<p class="form-control-static">{{$data['ex_title']}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">合约编号</label>
							<div class="col-sm-9">
                                <p class="form-control-static">{{$data['ex_num']}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">供应商</label>
							<div class="col-sm-9">
                                <p class="form-control-static">{{$data['ex_sup_name']}}</p>
							</div>
						</div>

						<div class="form-group">
							<label for="material"  class="col-sm-2 control-label">材料名称</label>
							<div class="col-sm-3">
								<select class="form-control" name="material" id="material">
                                    <option value="">-类别-</option>
                                    {{foreach from=$data['details'] item=foo}}
									<option value="{{$foo['de_id']}}">{{$foo['de_name']}}</option>
                                    {{/foreach}}
								</select>
							</div>
							<label for="date"  class="col-sm-3 control-label">进货时间</label>
							<div class="col-sm-3">
                                <input  class="form-control" id="date" name="date" type="text"
                                        style="background:#fff url(/res/js/My97DatePicker/skin/datePicker.gif) no-repeat right;"
                                        onfocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy-MM-dd'})">
							</div>
						</div>
						<div class="form-group">
							<label for="num"  class="col-sm-2 control-label">采购数量</label>
							<div class="col-sm-2">
                                <input type="text" class="form-control" id="num" name="num" >
							</div>
                                <input type="hidden" id="unit_id" name="u_id">
                            <label  id="unit" class="col-sm-1 control-label" style="text-align:left; font-weight:lighter"></label>
							<label for="price"  class="col-sm-3 control-label">材料单价</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" name="price" id="price" >
							</div>
							<label class="col-sm-1 control-label" style="text-align:left; font-weight:lighter">元</label>
						</div>

						<div class="form-group">
							<label for="desc" class="col-sm-2 control-label">项目进度说明</label>
							<div class="col-sm-9">
								<textarea class="form-control" rows="8" name="desc" id="desc"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2"></div>
							<div class="col-sm-9">
								<button type="button" id="save_btn" class="btn btn-primary btn-lg btn-raised btn-block ink">提交</button>
                                <input type="hidden" id="cid" name="cid" value="{{$cid}}">
                                <input type="hidden" id="pid" name="pid" value="{{$pid}}">
							</div>
						</div>
					</form>
				</div>
          <div class="col-md-5 col-sm-12 pull-right">
              <br/>
              <div class="form-group">
                  <div class="col-sm-3  control-label">
                      <img style="width: 300px" id="imgShow" {{if $data['ex_pic']!=''}} src="/uploadimages/{{$data['ex_pic']}}" {{/if}}>

                  </div>
              </div>
          </div>
      </div>
    </div>
  <!---->
  <!---->
    <div class="form_card card z_depth-1">
      <div class="form_card_box">    
		<table class="table_card table table-striped table-hover">
      <thead>
        <tr>

          <th class="">标题</th>
					<th class="">发布时间</th>
          <th class="">操作</th>
        </tr>
      </thead>
      <tbody>

      {{foreach from=$data['items'] item=foo}}
      <tr>

          <td class="">
              <a href="###" class="table_card_a">
                  {{$foo['con_title']}}
              </a>
          </td>
          <td class="small">{{$foo['ex_cdate']}}</td>
          <td class="bloc">
              {{if $foo['ex_status'] == 1}}
              <a href="{{site_url url='project/deal/fukuang'}}/{{$foo['ex_id']}}" class="btn btn-sm btn-danger">申请付款</a>
              {{/if}}

              <a href="{{site_url url='project/deal/get_ex'}}/{{$foo['ex_id']}}" class="btn btn-sm btn-primary">查看</a>
          </td>

      </tr>
      {{/foreach}}

      </tbody>
		</table>
    

      
  {{$pager}}
      
      </div>
    </div>
  <!---->
    
  </div>
<!-- 主体 end -->
  
</div>
{{include file="common/footer.html"}}
<script src="/res/js/My97DatePicker/WdatePicker.js"></script>

<script>

    $(function () {
        $("#material").change(function () {
            var mid = $(this).val();
            switch (mid){
                case '':
                    $("#price").val('');
                    break;
                {{foreach from=$data['details'] item=foo}}
                case "{{$foo['de_id']}}":
                    $("#price").val("{{$foo['de_price']}}");
                    $("#unit").html("{{$foo['u_name']}}");
                    $("#unit_id").val("{{$foo['u_id']}}")
                    break;
                {{/foreach}}
                default:
                    $("#price").val('');
            }

        })

        $("#save_btn").click(function(){
            if ($.trim($("#material").val())==""){
                $("#material").focus().parent().addClass("has-error").children(".help-block").html("类别必选");
                return false;
            }else {
                $("#material").parent().removeClass("has-error").children(".help-block").html("");
            }
            if ($.trim($("#date").val())==""){
                $("#date").focus().parent().addClass("has-error").children(".help-block").html("进货时间不能为空");
                return false;
            }else {
                $("#date").parent().removeClass("has-error").children(".help-block").html("");
            }
            if ($.trim($("#num").val())==""){
                $("#num").focus().parent().addClass("has-error").children(".help-block").html("采购数量不能为空");
                return false;
            }else {
                $("#num").parent().removeClass("has-error").children(".help-block").html("");
            }
            if ($.trim($("#price").val())==""){
                $("#price").focus().parent().addClass("has-error").children(".help-block").html("材料单价不能为空");
                return false;
            }else {
                $("#price").parent().removeClass("has-error").children(".help-block").html("");
            }
            if ($.trim($("#desc").val())==""){
                $("#desc").focus().parent().addClass("has-error").children(".help-block").html("项目进度说明不能为空");
                return false;
            }else {
                $("#desc").parent().removeClass("has-error").children(".help-block").html("");
            }
            $("#save_form").submit();
        })
    })
</script>